<div class="container-fluid">
  	<tabset justified="true">
    	<tab heading="Temperature">
    		<div class="col-lg-6 text-center panel" ng-repeat="data in tempData" >
                <div class="row">
                    <div class="col-lg-3">
                        <p class="DRMonitor">{{data[0].temp}}<span class="units" style="font-size: medium;">K</span></p>
                        <p class="DRMonitor">{{data[0].delta}}<span class="units" style="font-size: medium;">mK/s</span></p>
                    </div>
                    <div class="col-lg-8">
                        <nvd3 class = "DR" options = "chartoptions" data="data" config="chartconfig"></nvd3>
                    </div>
                </div>
    		</div>
    	</tab>
    	
    	<tab heading="Log">
    		<div class="row text-center">
    			<form class="form-inline">
	    			<div class="form-group">
	    				<label class="control-label">Load Data</label>
	    				<input class="form-control" ng-model="numLogPoints" placeholder="Number"></input>
	    				<select class="form-control" ng-model="logUnits">
	    					<option value="60">Minutes</option>
	    					<option value="3600">Hours</option>
	    					<option value="86400">Days</option>
	    				</select>
	    				<button type="button" class="btn btn-info" ng-click="getLogData(logUnits*numLogPoints);logCollapse=false">Get Data</button>
	    			</div>
	    		</form>
    		</div>
    		<div class="row" ng-init="logCollapse=true" collapse="logCollapse">
	    		<nvd3 options = "logChartOptions" data="logData" config="chartconfig" class="log"></nvd3>
	    	</div>
    	</tab>
    	
    </tabset>
</div>