body {
	font-family: -apple-system, "Helvetica Neue", "Lato";
	font-weight: 300;
	height: 100vh;
	min-height: 100vh;
	max-height: 100vh;
	background-color: rgb(67, 67, 67);
}

h1, h2, h3 {
	font-weight: 200;
	color: white;
}

#jobContainer {
	max-height: 40vh;
	overflow-y: scroll;
	box-shadow: 5px 5px 5px gray;
	border: 1px solid gray;
}

.responsive {
	text-align: center;
}

.svg-container {
	height: 22.5vh;
	max-height: 22.5vh;
}

/*.container {
	height: 100%;
	max-height: 100%;
	min-height: 100%;
}*/


/*.ADR svg {
	height: 38vh;
	min-height: 38vh;
	max-height: 38vh;
	overflow: visible;
	box-shadow: 2px 2px 2px gray;
	margin-bottom: 1vh;
}*/

.log svg {
	height: 80vh;
	min-height: 80vh;
	max-height: 80vh;
	margin-bottom: 60;
}

.DR svg {
	height: 18vh;
	min-height: 18vh;
	max-height: 18vh;
	overflow: visible;
	margin-bottom: 1vh;
}

p.DRMonitor.ng-binding {
	font-size: xx-large;
	height: 9vh;
	text-align: center;
}

p.ADRmonitor.ng-binding{
	font-size: large;
	height: 5vh;
	text-align: center;
	margin: 0px;
}

.subheader {
	font-weight: bold;
}

dl.tabs {
    text-align: center;
}

/*dl.tabs dd  {
    float: none !important;
    display: inline-block;
}*/

iframe {
	min-height: 50vh;
	width: 100vh;
}